
.company-details-padded
{
    padding-left: 4px;
}
.company-details-padded-footer
{
    padding-left: 62px;
}
.company-details
{
    margin-top: 10px;
}
.pos .pos-sale-ticket table td {
    padding: 6px;
    border: 1px solid #dddd;
}
.participant_name
{
    color: #888;
}
.invoice-details
{
    display: block!important;
    margin-top: 10px;
    font-weight: bold;
    border-top: 1px dashed #555;
    border-bottom: 1px dashed #555;
    padding-top: 8px;
    padding-bottom: 8px;
}
.pos-logo
{
    max-height: 48px;
}
.pos-order-reference-value
{
    display: none;
}
.pos-order-reference
{
    padding-top: 36px;
}
.participant_name .ticket_image
{
 display: none;
}
.pos-order-reference
{
    padding-top: 58px;
}
.company-details > .participant_name:first-child
{
    font-weight: bold;
}
.img-logo
{
    width: 100%;
    max-width: 90px;
}
.pos .pos-sale-ticket table td {
    padding: 2px;
     border: 0px solid #dddd;
}
.productos-contenedor
{
    border-top: 1px dashed;
    margin-top: 11px;
    padding-top: 7px;
}
.val-date
{
    padding-top: 10px;
}
.see-doc-txt p
{
    font-size: 14px!important;
}
.pos-total-letters
{
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.receipt-orderlines th
{
    text-transform: uppercase;
}
