.guide-block
{
    display: block;
    padding: 5px;
    width: 100%;
}
.guide-block h3.guide-block-title
{
    font-size: 23px;
    font-weight: bold; 
}

.guide-block .gui-table
{
    display: table;
    width: 100%;
}
.guide-block .gui-table h3
{
    margin-top: 10px;
}
.guide-block .gui-table-row
{
    display: table-row;
    width: 100%;
}
.guide-block .gui-table-row .gui-table-cell
{
    display: table-cell;
    width: 50%;
}
.gui-table table
{
    margin-top: 0px!important;
    padding-top: 0px!important;
}
.gui-table-cell label
{
    color: black;
    width: 100%!important;
}
.gui-table-cell  span,.gui-table table span
{
    color: #333;
}
.guide-header .gui-table-cell h3,.guide-header .gui-table-cell h3 span
{
    font-weight: bold;
    color: black!important;
}
.qr-container img
{
    max-width: 100px;
}
.guide-header .gui-table-cell h3.guide-sequence span
{
    color:#666!important;
}
.digest_value
{
    font-size: 10px;
    display: block;
    text-align: right;
    padding-right: 11px;
    width: 100%;
}

table.translate-reason
{
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 35px;
    padding-bottom: 5px;
}
table.translate-reason tr td:first-child
{
    padding-top: 8px;
}
table.translate-reason tr td:last-child
{
    padding-bottom: 0px;
}
table.translate-reason tr td
{
    padding-left: 7px;
    padding-top: 0px;
}
table.translate-reason tr td div
{
    font-size: 12px;
}
table.translate-reason tr td div img
{
    width: 16px;   
}
table.translate-reason tr td div span
{
    font-size: 12px;
}
.table-products-line td, .table-products-line th
{
    font-size: 12px;
    border: 1px solid #ccc;
}
.table-products-line th
{
    font-weight: bold;
    font-size: 13px;
}
.table-products-line
{
    border: 1px solid #ccc;
    margin-top: 30px;
}
table.table-products-line td:first-child
{
    font-weight: bold;
    font-size: 12px;
}
table.translate-reason tr td:first-child
{
    border: 0px!important;
}
.heading-products-line td
{
    padding-top: 20px;
}
table.transportista-table-container 
{
    width: 100%;
}
.transportista-table-container table
{
    border: 1px solid #ccc;
    padding: 6px;
}
.transportista-table-container table td
{
    border: 1px solid #ccc;
    font-size: 12px;
}
.transportista-table-container table td:first-child
{
   /* padding-top: 20px;*/
}
.transportista-table td.heading-products-line
{
    padding-top: 20px; 
}
table.transportista-table-container table.transportista-table
{
    width: 100%;
}
table.transportista-table-container table.transportista-table td
{
    padding: 4px;
}
.transportista-table-container td:first-child
{
    padding-right: 10px;
}
.transportista-table-container td:last-child
{
    padding-left: 10px;
}
.transportista-table-container 
{
    margin-top: 35px;
}
.qr-table-container
{
    display: block;
    padding-top: 15px;
}
.qr-table-container td
{
    font-size: 12px;
}
.qr-table-container td:first-child
{
    text-align: left!important;
    width: 50%;
}
.digest_value
{
    text-align: left;
}
.qr-table-container td:last-child
{
    text-align: center!important;
}
.qr-delivery
{
    margin-left: -13px;
    max-width: 200px;
}
